<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <script src="{% static 'javascript/sample.js' %}"></script>

        <title>我が家の愛犬ポチの日記</title>
    </head>

    <body>
        <h1>我が家の愛犬ポチの日記</h1>

        <img src="{% static "images/inu.png" %}" alt="">

        <h2>うちの可愛い愛犬ポチを紹介するホームページです。</h2>

        <p>可愛いわんちゃんがうちに来てくれました</p>
        <p>ポチの好きな食べ物</p>
        <p>ポチの嫌いな食べ物</p>
        <p>ポチが１才になりました</p>
    </body>

</html>